<% _.each(employees, function(employee) { %>
    <div data-role="header" >
        <a href="#return?jqt" data-icon="arrow-l">&nbsp;&nbsp;</a>
        <h1>Contacto</h1>
        <a id = 'edit' href="#edit/contactoEdit/<%= employee.id %>" data-icon="edit">&nbsp;&nbsp;</a>
    </div>
    <div data-role="content" >
        <br>
        <table data-role="table"  >
            <thead>
                <tr>
                    <th data-priority="1"></th>
                    <th data-priority="2"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-width="10%" width="10%"><img src="data:image/png;base64,<%= employee.image_small %>" alt="" /></td>
                    <td data-width="90%" width="90%">
                        <label for="phone"><strong><%=employee.name %></strong></label>
                        <label for="phone"><%=employee.title %></label>
                        <label for="phone">Hopewell System</label>
                    </td>
                </tr>
            </tbody>
        </table>
        <div data-role="controlgroup" data-type="horizontal" data-mini="false">
            <a href="#" data-role="button" data-iconpos="notext" data-icon="plus" data-theme="b">Add</a>
            <a href="#" data-role="button" data-iconpos="notext" data-icon="delete" data-theme="b">Delete</a>
            <a href="#" data-role="button" data-iconpos="notext" data-icon="grid" data-theme="b">More</a>
            <a href="#" data-role="button" data-iconpos="notext" data-icon="grid" data-theme="b">More</a>
            <a href="#" data-role="button" data-iconpos="notext" data-icon="grid" data-theme="b">More</a>
            <a href="#" data-role="button" data-iconpos="notext" data-icon="grid" data-theme="b">More</a>
        </div>

        <div class="ui-grid-solo">
            <div class="ui-block-a"><a href="tel:<%= employee.phone %>" data-role="button" data-mini = "true"> <label for="phone" data-mini = "true" >Tel <strong><%= employee.phone %> </strong></label></a></div>
            <div class="ui-block-a"><a href="mailto:<%= employee.email %>" data-role="button"  data-mini = "true"> <label for="mail" data-mini = "true" >Correo <strong><%= employee.email %></strong></label></a></div>
            <div class="ui-block-a"><a href="sms:<%= employee.mobile %>" data-role="button" data-mini = "true"> <label for="mail" data-mini = "true" >Movil <strong><%= employee.mobile %></strong></label></a></div>
        </div>

        <div class="ui-grid-a">
            <div class="ui-block-a"><a href="index.html" data-role="button"  data-mini = "true"> <label for="mail" data-mini = "true" >Enviar Mensaje</label></a></div>
            <div class="ui-block-b"><a href="index.html" data-role="button"  data-mini = "true"> <label for="mail" data-mini = "true" >Whats App</label></a></div>
            <div class="ui-block-a"><a href="index.html" data-role="button"  data-mini = "true"> <label for="mail" data-mini = "true" >Compartir Contacto</label></a></div>
            <div class="ui-block-b"><a href="index.html" data-role="button"  data-mini = "true"> <label for="mail" data-mini = "true" >Seguir Contacto</label></a></div>
        </div>

        <div class="ui-grid-solo">
            <div class="ui-block-a">
                <div data-role="collapsible"  data-content-theme="a" data-collapsed-icon="arrow-d" data-expanded-icon="arrow-u">
                    <h3>Registros</h3>
                    <ul data-role="listview" data-count-theme="c" data-inset="true">
                        <li><a href="#">Inbox  <span class="ui-li-count">12</span></a></li>
                        <li><a href="#">Outbox <span class="ui-li-count">0</span></a></li>
                        <li><a href="#">Citas  <span class="ui-li-count">2</span></a></li>
                        <li><a href="#">Tramites <span class="ui-li-count">10-12</span></a></li>

                        <li><a href="#">Seguimientos <span class="ui-li-count">2</span></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
<% }); %>